# 4.6: Combining & Exporting Data

In [5]:
# importing libraries

import pandas as pd
import numpy as np
import os
import pickle

In [16]:
# folder path into a string 
path = r'C:\\Users\\Jalon\\Desktop\\python_projects\\4.3_orders_products'

In [22]:
#QN3
orders_products_combined = pd.read_pickle(os.path.join(path,'orders_products_combined.pkl'))

In [23]:
orders_products_combined

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,prior,1,2,8,NaN,196,1,0,both
1,2539329,1,prior,1,2,8,NaN,14084,2,0,both
2,2539329,1,prior,1,2,8,NaN,12427,3,0,both
3,2539329,1,prior,1,2,8,NaN,26088,4,0,both
4,2539329,1,prior,1,2,8,NaN,26405,5,0,both
...,...,...,...,...,...,...,...,...,...,...,...
32434484,2977660,206209,prior,13,1,12,7.0,14197,5,1,both
32434485,2977660,206209,prior,13,1,12,7.0,38730,6,0,both
32434486,2977660,206209,prior,13,1,12,7.0,31477,7,0,both
32434487,2977660,206209,prior,13,1,12,7.0,6567,8,0,both
32434488,2977660,206209,prior,13,1,12,7.0,22920,9,0,both

In [25]:
#QN4 shape
orders_products_combined.shape

(32434489, 11)

In [26]:
# importing prods_consistency_checked data set
prods_consistency_checked= pd.read_csv(os.path.join(path,'prods_consistency_checked.csv'))

In [33]:
#delete the column Unnamed: 0
del(prods_consistency_checked['Unnamed: 0'])

In [36]:
prods_consistency_checked.shape

(49693, 5)

In [43]:
orders_products_combined.columns

Index(['order_id', 'user_id', 'eval_set', 'order_number', 'order_dow',
       'order_hour_of_day', 'days_since_prior_order', 'product_id',
       'add_to_cart_order', 'reordered', '_merge'],
      dtype='object')

In [37]:
prods_consistency_checked

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3
...,...,...,...,...,...
49688,49684,"Vodka, Triple Distilled, Twist of Vanilla",124,5,5.3
49689,49685,En Croute Roast Hazelnut Cranberry,42,1,3.1
49690,49686,Artisan Baguette,112,3,7.8
49691,49687,Smartblend Healthy Metabolism Dry Cat Food,41,8,4.7
49692,49688,Fresh Foaming Cleanser,73,11,13.5

In [44]:
# QN5 i chose the default merge ( inner, to take both intercetions)
df_merged = orders_products_combined.merge(prods_consistency_checked, on = ['product_id'])

In [47]:
df_merged.isnull().sum()

order_id                        0
user_id                         0
eval_set                        0
order_number                    0
order_dow                       0
order_hour_of_day               0
days_since_prior_order    2078084
product_id                      0
add_to_cart_order               0
reordered                       0
_merge                          0
product_name                28171
aisle_id                        0
department_id                   0
prices                          0
dtype: int64

In [49]:
#QN6
df_merged["_merge"].value_counts()

both          32434212
left_only            0
right_only           0
Name: _merge, dtype: int64

In [50]:
#exporting the df_merged to pkl file, since the data set is large
df_merged.to_pickle(os.path.join(path, 
        'orders_products_merged.pkl'))