# 4.6: Combining & Exporting Data QN1 + QN2

## Merging Instacart Data

### QN1

In [2]:
# importing libraries

import pandas as pd
import numpy as np
import os

In [17]:
# folder path into a string 
path = r'C:\\Users\\Jalon\\Desktop\\python_projects\\4.3_orders_products'

In [11]:
df_ords_prior = pd.read_csv('order_products__prior.csv')

In [18]:
#importing the "orders.csv" data set using oslibrary and omitting
#the os library.

df_ords = pd.read_csv(os.path.join(path,'orders.csv'), index_col = False)

In [14]:
df_ords_prior

          order_id  product_id  add_to_cart_order  reordered
0                2       33120                  1          1
1                2       28985                  2          1
2                2        9327                  3          0
3                2       45918                  4          1
4                2       30035                  5          0
...            ...         ...                ...        ...
32434484   3421083       39678                  6          1
32434485   3421083       11352                  7          0
32434486   3421083        4600                  8          0
32434487   3421083       24852                  9          1
32434488   3421083        5020                 10          1

[32434489 rows x 4 columns]

In [15]:
df_ords_prior.shape

(32434489, 4)

In [21]:
df_ords_prior.columns

Index(['order_id', 'product_id', 'add_to_cart_order', 'reordered'], dtype='object')

In [19]:
df_ords.shape

(3421083, 7)

In [20]:
df_ords.columns

Index(['order_id', 'user_id', 'eval_set', 'order_number', 'order_dow',
       'order_hour_of_day', 'days_since_prior_order'],
      dtype='object')

In [22]:
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [33]:
df_merged_large.shape

(32434489, 11)

In [34]:
df_merged_large.columns

Index(['order_id', 'user_id', 'eval_set', 'order_number', 'order_dow',
       'order_hour_of_day', 'days_since_prior_order', 'product_id',
       'add_to_cart_order', 'reordered', '_merge'],
      dtype='object')

In [35]:
df_merged_large["_merge"].value_counts()

both          32434489
left_only            0
right_only           0
Name: _merge, dtype: int64

### QN2

In [37]:
df_ords_prior

          order_id  product_id  add_to_cart_order  reordered
0                2       33120                  1          1
1                2       28985                  2          1
2                2        9327                  3          0
3                2       45918                  4          1
4                2       30035                  5          0
...            ...         ...                ...        ...
32434484   3421083       39678                  6          1
32434485   3421083       11352                  7          0
32434486   3421083        4600                  8          0
32434487   3421083       24852                  9          1
32434488   3421083        5020                 10          1

[32434489 rows x 4 columns]

In [39]:
# QN2 : Export the merged file
# in pickle format as “orders_products_combined.pkl”.
df_merged_large.to_pickle(os.path.join(path,
'orders_products_combined.pkl'))

In [ ]:
C:\Users\Jalon\Desktop\python_projects\4.3_orders_products\orders_products_combined.pkl